{% extends "deals_page.html" %}

{% block content %}
<h2>Таблица активных сделок (10 штук)</h2>
<div id="table-container"></div>


{{ recent_active|json_script:"recent-deals-data" }}

<script>
  const dealsData = JSON.parse(
    document.getElementById('recent-deals-data').textContent
  );
  
  const table = document.createElement('table');
  table.style.borderCollapse = 'collapse';
  table.style.width = '100%';
  table.style.marginTop = '10px';
  
  const thead = document.createElement('thead');
  const headerRow = document.createElement('tr');
  const headers = ['ID', 'Название', 'Этап', 'Сумма сделки','Дата начала','Дата завершения','Адрес доставки','VIP-client'];
  headers.forEach(headerText => {
    const th = document.createElement('th');
    th.textContent = headerText;
    th.style.border = '1px solid #333';
    th.style.padding = '5px';
    th.style.background = '#eee';
    headerRow.appendChild(th);
  });
  thead.appendChild(headerRow);
  table.appendChild(thead);
  
  const tbody = document.createElement('tbody');
  dealsData.forEach(deal => {
    const row = document.createElement('tr');

    const cells = [deal.ID, deal.TITLE, deal.STAGE_ID, deal.OPPORTUNITY, deal.BEGINDATE, deal.CLOSEDATE, deal.UF_CRM_1752105537687, deal.UF_CRM_1752105693326];
    cells.forEach(cellData => {
      const td = document.createElement('td');
      td.textContent = cellData;
      td.style.border = '1px solid #333';
      td.style.padding = '5px';
      row.appendChild(td);
    });

    tbody.appendChild(row);
  });

  table.appendChild(tbody);

  
  document.getElementById('table-container').appendChild(table);
</script>
{% endblock %}
