<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Deals</title>
</head>
<body>
   <h1>Сделки (user: {{request.bitrix_user.first_name}} {{request.bitrix_user.last_name}})</h1>
   <button onclick="document.location='{% url 'reload_lobby'%}'">⤾ Обратно в меню</button>
   <button onclick="document.location='{% url 'active_deals'%}'">⤾ Активные (10 сделок)</button>
   <button onclick="document.location='{% url 'add_deal'%}'">⤾ Добавить сделку</button>
   
   {% block content %}{% endblock %}
</body>
</html>